.layoutWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    width: 100%;
    background-color: #E8F4F2; /* Just one background color for test */
}

.infoBox {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.infoBox h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
}

.infoBox p {
    font-size: 20px;
    color: black;
    font-weight: 500;
}
